on:
  workflow_call:
    secrets:
      aws_assume_role:
        description: "AWS role to assume"
        required: false
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: string
      version:
        description: "Version of the project"
        required: true
        type: string
    secrets:
      aws_assume_role:
        description: "AWS role to assume"
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    container: # Replace with GitHub action in the future
      image: public.ecr.aws/truemark/aws-cdk:ubuntu
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v3
        with:
          name: docker-version

#      - name: Configure AWS Credentials
#        uses: aws-actions/configure-aws-credentials@v2
#        with:
#          role-to-assume: "${{ secrets.aws_assume_role }}"
#          aws-region: "us-east-2"
#
#      - name: CDK Deploy
#        run: |
#          cd cdk
#          pnpm i --frozen-lockfile
#          cdk -c env=${{ inputs.environment }} deploy --require-approval never

      # TODO Get rid of separate role
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: "${{ vars.AWS_ASSUME_ROLE_DEPLOY }}"
          aws-region: "us-east-2"

      - name: Get Docker Image Tag
        shell: bash
        run: | 
          echo "IMAGE_TAG=$(cat docker-version.txt)" >> $GITHUB_ENV

      - name: Setup Cluster Access
        run: |
          aws eks update-kubeconfig --name ${{ vars.CLUSTER_NAME }} --kubeconfig ./kubeconfig
          echo 'KUBE_CONFIG_DATA<<EOF' >> $GITHUB_ENV
          echo $(cat ./kubeconfig | base64) >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV
        env:
          AWS_REGION: "us-east-2"

      - name: Helm Deploy
        uses: koslib/helm-eks-action@v1.28.0
        env:
          KUBE_CONFIG_DATA: ${{ env.KUBE_CONFIG_DATA }}
        with:
          command: helm upgrade --install --wait --atomic --set image.tag=$IMAGE_TAG -f helm-chart/hello-world/values.yaml hello-world helm-chart/hello-world
